img {
    max-width: 100%;
}

del {
    color: #BDBDBD;
}

.border {
    border-bottom: 1px solid #956D84;
}

.text-grey {
    color: $text-gray
}

//TODO: check
.font-w-300 {
    font-weight: 300;
}

.font-w-700 {
    font-weight: 700;
}

.text-white {
    color: #ffffff;
}
.text-center{
    text-align: center;
}

.section {
    padding-bottom: 90px;
}

.main-top-margin {
    margin-top: 65px;
}

.breadcrumb {
    padding-inline-start: 0;
    padding-left: 0;
}
