img {
    max-width: 100%;
}

del {
    color: #BDBDBD;
}

.border {
    border-bottom: 1px solid #956D84;
}

.text-grey {
    color: $text-gray
}

.font-w-700 {
    font-weight: 700;
}

.text-white {
    color: #ffffff;
}
