//TODO: змінні з (кольори розміри і ТД...)
@import "variables";

//TODO: бібліотеки ...
@import "../../node_modules/bootstrap/scss/bootstrap-reboot";
@import "../../node_modules/bootstrap/scss/bootstrap-grid";

@import "fonts";

@import "common";

@import "./components/header";
@import "./components/footer";
@import "./components/card";
@import "./components/button";
@import "./components/news_card";
@import "./components/breadcrum";
@import "./components/pagination";
@import "./components/h2-title";
@import "./components/comment";
@import "./components/form-group";
@import "./components/map";
@import "./components/select";
@import "./components/catalog-filter";

html {
    height: 100%;
}

html, body {
    font-family: 'MuseoSansCyrl', serif;
    font-size: $font-size;
    line-height: 1.3333rem;
    display: flex;
    flex-direction: column;
    height: 100%;
}

main {
    flex: 1 0 auto;
}

//TODO: pages
@import "index";
@import "./pages/news";
@import "./pages/news_page";
@import "./pages/catalog";
@import "./pages/about_us";
@import "./pages/basket";
