@import "../../node_modules/bootstrap/scss/bootstrap-reboot";
@import "../../node_modules/bootstrap/scss/bootstrap-grid";
@import "fonts";
@import "card";
@import "button";

html {
  height: 100%;
}

html, body {
  font-family: 'MuseoSansCyrl-300', SansSerif, serif;
  display: flex;
  flex-direction: column;
  height: 100%;
}

header {

  flex: 0 0 auto;
}

main {

  flex: 1 0 auto;
}

footer {

  flex: 0 0 auto;
}
a{
  color: #333333;
}

footer a {
  color: #ffffff;
}

.small-items {
  margin-left: 1em;
  gap: 1em;
}

.catalog-item {
  margin-top: 70px;
}

.bg-main-big {
  background: url('./../img/main/bg-for-big-card.jpg') no-repeat;
  height: 550px;
  width: 100%;

}

.bg-main-card {
  color: red;
  flex: 1 1 100%;
  min-height: 219px;
  border: 2px solid #956E84;
  background-position: center center;
  background-repeat: no-repeat;
  //background-size: auto 100%;


  &-wrapper {
    column-gap: 20px;
  }

  &-left {
    background-image: url('./../img/main/photo.svg');
    background-position: right;

  }

  &-center {
    background-image: url('./../img/main/video.svg');
  }

  &-right {
    background-image: url('./../img/main/present.svg');
    background-position:left;

  }
}

.bg-main-small-1 {
  background: url('./../img/main/roses-min-1.jpg') no-repeat;
}

.bg-main-small-2 {
  background: url('./../img/main/beautiful-min-2.jpg') no-repeat;
}

.bg-main-small-3 {
  background: url('./../img/main/rosess-min-3.jpg') no-repeat;
}


.bg-main-small-4 {
  background: url('./../img/main/swits-min-4.jpg') no-repeat;
}

.bg-main-size {
  height: 265px;
  width: 250px;

}


.background-header-footer {

  background: #333333;
  color: #FFFFFF;

}

.border {
  border-bottom: 1px solid #956D84;

}

.text_grey {
  color: #828282
}
