<div class="comment_body">
    <div class="comment_body_img">
        <img src="./img/main/news_item/avatar.png" alt="avatar">
    </div>
    <div class="body-name_container">
        <p class="name">Ирина<br>
            Артипенко</p>
    </div>
    <div class="comment-container">
        <p class="comment">Тюльпан - символ любви, весеннего обновления, счастья, теплой и солнечной погоды и хорошего приподнятого
            настроения! Тюльпан отличается элегантностью форм и ...</p>
    </div>


</div>
