<footer class="background-header-footer">
    <div class="container">
        <div class="border">
            <div class="d-flex flex-row justify-content-between">
                <div>
                    <img src="img/footer/white-logo.svg" alt="footer_logo">
                </div>
                <div class="footer_head">
                    <p>ИНФОРМАЦИЯ</p>
                    <ul>
                        <li><a href="#">О НАС</a></li>
                        <li><a href="#">ДОСТАВКА И ОПЛАТА</a></li>
                        <li><a href="#">ПОЛИТИКА <br>КОНФИДЕНЦИАЛЬНОСТИ</a></li>
                    </ul>
                </div>
                <div class="footer_head">
                    <p>СЛУЖБА ПОДДЕРЖКИ</p>
                    <ul>
                        <li><a href="#">КАРТА САЙТА</a></li>
                        <li><a href="#">ВОЗВРАТ ТОВАРА</a></li>
                        <li><a href="#">СВЯЗАТЬСЯ С НАМИ</a></li>
                        <li><a href="#">ДЛЯ СОТРУДНИЧЕСТВА</a></li>
                    </ul>
                </div>
                <div class="footer_head">
                    <p>ЛИЧНЫЙ КАБИНЕТ</p>
                    <ul>
                        <li><a href="#">ЛИЧНЫЙ КАБИНЕТ</a></li>
                        <li><a href="#">ИСТОРИЯ ЗАКАЗА</a></li>
                        <li><a href="#">ЗАКЛАДКИ</a></li>
                        <li><a href="#">СПИСОК НОВОСТЕЙ</a></li>
                    </ul>
                </div>
                <div class="footer_head">
                    <p>ДОПОЛНИТЕЛЬН</p>
                    <ul>
                        <li><a href="#">ПОДАРОЧНЫЕ</a></li>
                        <li><a href="#">СЕРТИФИКАТЫ</a></li>
                        <li><a href="#">АКЦИИ</a></li>
                        <li><a href="#">ЦВЕТЫ В ОФИС</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer_pay d-flex align-items-center flex-row">
            <div>Copyright © 2021. Все права защищены</div>
            <div class="d-flex  align-items-center ml-auto flex-row">
                <div class="mr-4">Способы оплаты:</div>
                <div>
                    <img alt="privat" src="img/footer/privat.svg">
                    <img alt="liqpay" src="img/footer/liqpay.svg">
                    <img alt="master" src="img/footer/master_card.svg">
                    <img alt="maestro" src="img/footer/maestro.svg">
                    <img alt="electron" src="img/footer/visa_electron.svg">
                    <img alt="visa" src="img/footer/visa.svg">
                </div>
                <div></div>
            </div>
        </div>
    </div>
</footer>

<script
    async
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC-kHa5nE-UYOmtpDAWAMJer_SkslHAxgA&callback=initMap&libraries=&v=weekly"
></script>

<a href="./index.html">index</a>
<a href="./about_us.html">About us</a>
<a href="./basket.html">basket</a>
<a href="./contacts.html">contacts</a>
<a href="./delivery_photos.html">delivery_photos</a>
<a href="./discounts.html">discounts</a>
<a href="./flower_delivery_to_the_office.html">flower_delivery</a>
<a href="./forum.html">forum</a>
<a href="./news.html">news</a>
<a href="./news_page.html">news_page</a>
<a href="./ordering.html">ordering</a>
<a href="./presents.html">presents</a>
<a href="./product.html">product</a>
<a href="./catalog.html">catalog</a>
<a href="./reviews.html">reviews</a>
<a href="./video_report.html">video_report</a>
<a href="./payment_and_delivery.html">payment_and_delivery</a>


