<footer class="background-header-footer">
    <div class="container">
        <div class="border">
            <div class="header_footer">
                <div class="footer_logo">
                    <img src="img/footer/white-logo.svg" alt="footer_logo">
                </div>
                    <div class="footer_tabs">
                        <div class="footer_tab">
                            <input type="checkbox" id="chck1">
                            <label class="footer_tab-label" for="chck1">ИНФОРМАЦИЯ</label>
                            <div class="footer_tab-content">
                                <ul>
                                    <li><a href="#">О НАС</a></li>
                                    <li><a href="#">ДОСТАВКА И ОПЛАТА</a></li>
                                    <li><a href="#">ПОЛИТИКА <br>КОНФИДЕНЦИАЛЬНОСТИ</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="footer_tabs">
                        <div class="footer_tab">
                            <input type="checkbox" id="chck2">
                            <label class="footer_tab-label" for="chck2">СЛУЖБА ПОДДЕРЖКИ</label>
                            <div class="footer_tab-content">
                                <ul>
                                    <li><a href="#">КАРТА САЙТА</a></li>
                                    <li><a href="#">ВОЗВРАТ ТОВАРА</a></li>
                                    <li><a href="#">ВЯЗАТЬСЯ С НАМИ</a></li>
                                    <li><a href="#">ДЛЯ СОТРУДНИЧЕСТВА</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="footer_tabs">
                        <div class="footer_tab">
                            <input type="checkbox" id="chck3">
                            <label class="footer_tab-label" for="chck3">ЛИЧНЫЙ КАБИНЕТ</label>
                            <div class="footer_tab-content">
                                <ul>
                                    <li><a href="#">ЛИЧНЫЙ КАБИНЕТ</a></li>
                                    <li><a href="#">ИСТОРИЯ ЗАКАЗА</a></li>
                                    <li><a href="#">ЗАКЛАДКИ</a></li>
                                    <li><a href="#">СПИСОК НОВОСТЕЙ</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="footer_tabs">
                        <div class="footer_tab">
                            <input type="checkbox" id="chck4">
                            <label class="footer_tab-label" for="chck4">ДОПОЛНИТЕЛЬНO</label>
                            <div class="footer_tab-content">
                                <ul>
                                    <li><a href="#">ПОДАРОЧНЫЕ</a></li>
                                    <li><a href="#">СЕРТИФИКАТЫ</a></li>
                                    <li><a href="#">АКЦИИ</a></li>
                                    <li><a href="#">ЦВЕТЫ В ОФИС</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
        <div class="footer_pay">
            <div>Copyright © 2021. Все права защищены</div>
            <div class="pay_img">
                <div class="payment_methods">Способы оплаты:</div>
                <div class="footer_payment_img">
                    <div><img alt="privat" src="img/footer/privat.svg"></div>
                    <div><img alt="liqpay" src="img/footer/liqpay.svg"></div>
                    <div><img alt="master" src="img/footer/master_card.svg"></div>
                    <div><img alt="maestro" src="img/footer/maestro.svg"></div>
                    <div><img alt="electron" src="img/footer/visa_electron.svg"></div>
                    <div><img alt="visa" src="img/footer/visa.svg"></div>
                </div>
                <div></div>
            </div>
        </div>
    </div>
</footer>

<script
    async
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC-kHa5nE-UYOmtpDAWAMJer_SkslHAxgA&callback=initMap&libraries=&v=weekly"
></script>

<a href="./index.html">index</a>
<a href="./about_us.html">About us</a>
<a href="./basket.html">basket</a>
<a href="./contacts.html">contacts</a>
<a href="./delivery_photos.html">delivery_photos</a>
<a href="./discounts.html">discounts</a>
<a href="./flower_delivery_to_the_office.html">flower_delivery</a>
<a href="./forum.html">forum</a>
<a href="./news.html">news</a>
<a href="./news_page.html">news_page</a>
<a href="./ordering.html">ordering</a>
<a href="./presents.html">presents</a>
<a href="./product.html">product</a>
<a href="./catalog.html">catalog</a>
<a href="./reviews.html">reviews</a>
<a href="./video_report.html">video_report</a>
<a href="./payment_and_delivery.html">payment_and_delivery</a>


