<div class="address-container">
    <div id="map"></div>
    <div class="map-address">
        <div class="map-address-top"></div>
        <div class="map-address-content">
            <div class="map-logo pb-4">
                <img src="./img/header/logo.svg" alt="logo">
            </div>
            <div class="map-contacts">
                <div class="phone pb-3">
                    <p class="text-grey">Телефон:</p>
                    <span>+38 (063) 829 30 30</span> <br>
                    <span>+38 (067) 829 30 30</span>
                </div>
                <div class="skype pb-3">
                    <p class="text-grey">Skype:</p>
                    <span>Flowers-Ukraine</span>

                </div>
                <div class="email pb-4">
                    <p class="text-grey">Почта:</p>
                    <span>flowers.ukraine2014@gmail.com</span>
                </div>
                <div class="d-flex">
                    <div class="mr-3">
                        <img src="./img/main/icons/instagram.svg" alt="instagram">
                    </div>
                    <div class="mr-3">
                        <img src="./img/main/icons/skype.svg" alt="skype">
                    </div>
                    <div class="mr-3">
                        <img src="./img/main/icons/fb.svg" alt="fb">
                    </div>
                </div>
            </div>
        </div>
        <div class="map-address-bottom"></div>
    </div>
</div>

