<div class="review_body mb-3 px-3">
    <div class="review_person mb-3">
        <img alt="" src="./img/main/review/review-avatar.png" class="mr-3">
        <p class="font-w-700">Ирина <br> Артипенко</p>
    </div>
    <div class="review_text mb-3">
        <p class="font-w-250 text-grey">Тюльпан - символ любви, весеннего обновления, счастья, теплой и солнечной погоды и хорошего приподнятого
            настроения! Тюльпан отличается элегантностью форм и ...</p>
    </div>
    <div class="mb-3">
        <a class="font-w-250 text-grey" href="#">Весь отзыв</a>
    </div>
    <div class="d-flex justify-content-between align-items-center">
        <div class="rate">
            <img src="./img/main/review/rate-stars.svg" alt="rate-stars">
        </div>
        <div class="date">
            <p class="font-w-250 text-grey">22.02.2021</p>
        </div>

    </div>
</div>


