
.button {
    font-family: "MuseoSansCyrl-700", SansSerif, serif;
    text-align: center;
    padding: 23px 40px;
    font-size: .9rem;
    width: 50%;
    color: #FFFFFF;
    background: #956D84 url('./../img/button/btn-bg.svg') no-repeat 100%;
    box-shadow: inset 0px 5px 5px rgba(0, 0, 0, 0.15);
    border-radius: 7px;
    border: none;
}
