
.product-card {

    margin-bottom: 30px;
    padding: 10px;
    border: 1px solid #956D84;
    background: white;
    font-family: MuseoSansCyrl-300, serif;
    overflow: hidden;

    &-img {
        transition: 1s ease-in-out;

        img {
            display: block;

        }

        &:hover {
            transform: scale(1.1);
        }
    }

    &-info {

        display: block;
        margin-bottom: 12px;

        &-title {
            padding-right: 10px;

            a {
                color: $text-gray;
                text-decoration: none;


            }
            a:hover {
                border-bottom: 1px solid #828282;
            }
        }

        &-stars {
            margin-bottom: 15px;
        }

        &-fast-order {
            text-align: center;
            margin-top: 15px;

            a {
                border-bottom: 1px solid;
                color: #828282;

                &:hover {
                    text-decoration: none;
                    border-bottom: 1px solid;
                    color: $text-violet;

                }
            }

        }

        &-price {
            text-align: right;
        }

        &-order {
            padding-right: 10px;
            padding-top: 4px;
            font-size: 13px;
            height: 30px;
            line-height: 30px;


            &-btn {
                text-align: center;
                margin-top: 40px;

            }


        }
    }

}

