del {
    color: #BDBDBD;
}


.product-card {

    padding: 10px;
    border: 1px solid #956D84;
    background: white;
    font-family: MuseoSansCyrl-300, serif;
    overflow: hidden;
    transition: .4s linear;

    &-img {
        transition: 1s ease-in-out;

        img {
            display: block;
        }

        &:hover {
            transform: scale(1.1);
        }
    }
    &-info{
        color: #E34D38;
        display: block;
        margin-bottom: 12px;
    }
    &-order{
        padding-top: 4px;
        font-size: 13px;
        height: 30px;
        line-height: 30px;

    }
}

.actions {

}

.actions:after {
    content: "";
    display: table;
    clear: both;
}

.cart-button {
    text-decoration: none;
    color: #8C877C;
    transition: .4s linear;
}

.wishlist, .compare {
    color: #8C877C;
    padding-left: 20px;
    transition: .4s linear;
}

.wishlist:after, .compare:after {
    display: inline-block;
    font-family: MuseoSansCyrl-300, serif;
    font-size: 13px;
}

.wishlist:after {
    content: "\f004";
}

.compare:after {
    content: "\f079";
}
