.comment_body {
    display: flex;

    p {
        font-size: .9rem;
    }

    .comment_body_img {
        margin-right: 40px;

        img {
            height: 50px;
            width: 50px;
        }
    }

    .body-name_container {
        margin-right: 40px;
    }

    .name {
        font-weight: 700;
        color: $dark-bg;
        line-height: 18px;
    }

    .comment-container {
        flex-grow: 1;
        flex-basis: 400px;
        margin-right: 20px;
    }

    .comment {
        color: $text-gray;
        font-weight: 250;
        line-height: 20px;
    }
}
