footer {
    flex: 0 0 auto;
    background: $dark-bg;
    color: $text-white;

    .border {
        margin-top: 30px;
        margin-bottom: 15px;

        .footer_head {
            margin-bottom: 35px;

            & > p {
                font-weight: 900;
                line-height: 1rem;
                margin-bottom: 35px;
            }

            ul {
                list-style: none;
                margin: 0;
                padding: 0;

                li {
                    font-size: 0.888rem;
                    line-height: 1rem;
                    font-weight: 300;

                    &:not(:last-child) {
                        margin-bottom: 22px;
                    }
                }
            }

            a {
                color: $text-white;
            }
        }
    }

    .footer_pay {
        margin-bottom: 40px;

        div {
            font-size: 0.888rem;
            line-height: 1rem;
            font-weight: 300;
        }
    }
}
