header {
    .header-bottom {
        a {
            color: $text-white;
        }
    }

    .background-header {
        flex: 0 0 auto;

        background: $dark-bg;
    }

    .catalog-item {
        a {
            color: #000;
        }

        a:hover {
            color: $brownRed
        }
    }
}
