.review_body {
    width: calc(24% - 40px);
    display: flex;
    flex-direction: column;
    border: 1px solid $brownRed;
    margin-right: 20px;
    margin-left: 20px;
    padding: 25px;

    p {
        margin: 0;
    }

    a {
        position: relative;
    }
    a:hover{
        color: $brownRed;
    }

    a:after {
        content: " ";
        background: url('../img/main/review/arrow-right-review.svg') no-repeat;
        background-size: contain;
        position: absolute;
        top: 2px;
        right: -37px;
        height: 18px;
        width: 10px;
    }

    .review_person {
        img {
            max-height: 74px;
            float: left;
        }
    }
}
