.about_us_header {
    margin-top: 60px;
    margin-bottom: 60px;
}

.about_us_header h1 {
    font-family: 'MuseoSansCyrl-700', sans-serif;
    color: $dark-bg;
    margin-top: 30px;
    text-align: center;
}

.about_us {
    p, {
        font-weight: 250;
        font-size: 16px;
        line-height: 30px;
        color: $dark-bg;
        text-align: justify;
    }
    h2 {
        font-weight: 300;
        line-height: 36px;
        color: $brownRed;
        margin-top: 60px;
        margin-bottom: 60px;
    }
    img {
        width: 580px;
        max-width: 100%;
        margin-top: 25px;
        margin-bottom: 25px;
    }
    .about_us_img_center {
        text-align:center;
    }
    li, li::marker{
        color: $brownRed;
        font-weight: 250;
        font-size: 16px;
        line-height: 30px;
        text-align: justify;
    }
    ul {
        padding-left: 20px;
    }
    .about_us_ol li, li::marker{
        color: $dark-bg;
    }
    ol {
        color: $dark-bg;
        padding-left: 20px;
    }
}

@media (min-width: 992px) {
    .about_us_left_img {
        float: left;
        margin-top: 0 !important;
        margin-right: 35px;
        margin-bottom: 15px !important;
    }
    .about_us_right_img {
        float: right;
        margin-top: 0 !important;
        margin-left: 35px;
        margin-bottom: 15px !important;
    }
}
