
.card-basket {
    border: 1px solid #956D84;
    padding: 25px 30px;
}


.number-input {
    input[type=number] {
        max-width: 2rem;
        border: none;
        height: 2rem;
        font-weight: bold;
        text-align: center;
        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button{
            -webkit-appearance: none;
            margin: 0;
        }
    }

    button {
        background-image: url("../img/main/arrow-bt.svg");
        background-repeat: no-repeat;
        background-position: 100% center;
        transform: rotatez(270deg);
        background-color: transparent;
        border: none;
        width: 2rem;
        height: 2rem;
        cursor: pointer;
        margin: 0;
        position: relative;
    }

}



