.contacts {
    color: $dark-bg;

    .contacts_head {
        margin-top: 65px;
        margin-bottom: 100px;

        h1 {
            margin-top: 30px;
            font-size: 3rem;
            line-height: 2.5rem;
            text-align: center;
        }
    }

    h2 {
        font-size: 2rem;
        font-weight: 300;
        line-height: 2rem;
        margin-bottom: 80px;
    }

    p {
        font-weight: 250;
        line-height: 1.666rem;
        margin: 0;
    }

    .contact_us {
        h2 {
            margin-bottom: 80px;
        }

        p {
            color: #5A5A5A;
        }

        .our_contacts {
            margin-top: 50px;

            p {
                color: $dark-bg;
                font-weight: 300;
                line-height: 1rem;
                padding-left: 35px;
            }

            div:not(:last-child) {
                margin-bottom: 30px;
            }
        }
    }

    .group {
        margin-bottom: 30px;
    }

    #map {
        margin-top: 85px;
        margin-bottom: 85px;
    }

    form div {
        margin-bottom: 0;
    }

    .input_component {
        margin-bottom: 30px;
    }
}

@media (max-width: 979px) {
    .contacts {
        .contacts_head {
            margin-top: 30px;
            margin-bottom: 45px;
        }

        .contact_us h2 {
            margin-top: 55px;
            margin-bottom: 30px;
        }

        h2 {
            text-align: center;
        }
    }
}

@media (max-width: 1499px) {
    .contacts h2 {
        margin-bottom: 50px;
    }
}
