.container_main{
    img{
        float: left;
        margin-right: 45px;
        margin-bottom: 45px;
        max-width: 580px;
    }
    h3{
        font-size: 1.34rem;
        font-weight: 250;
        color: $brownRed;
        line-height: 18px;
        margin-bottom: 40px;
    }
    h4{
        margin-bottom: 35px;
    }
    h4,p,li::marker{
        font-size: .9rem;
        line-height: 30px;
        font-weight: 250;
    }
}
