.section {
    max-width: 1470px;
    margin: 0 auto;
    padding-bottom: 50px;

}

.row {
    justify-content: space-around;
}

.news_header {
    text-align: center;

    h1 {
        font-family: 'MuseoSansCyrl', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 18px;
    }
}
