.container_main {
    line-height: 28px;

    img {
        float: left;
        margin-right: 45px;
        margin-bottom: 45px;
        max-width: 580px;
    }

    h3 {
        font-size: 1.34rem;
        font-weight: 250;
        color: $brownRed;
        margin: 50px 0;
    }

    h4 {
        margin-bottom: 35px;
    }

    ol {
        padding-left: 20px;
        list-style-position: inside;

        li {
            margin-bottom: 40px;
        }

        ul {
            padding: 0;
            list-style: disc inside;

            li {
                margin-bottom: 10px;
            }

            li::marker {
                color: $brownRed;
            }
        }

    }

    h4, p, li {
        font-size: .9rem;
        line-height: 30px;
        font-weight: 250;
    }

    p {
        margin-bottom: 40px;
    }
}

.comment_container {
    border: 1px solid $brownRed;
    max-height: 530px;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 52px 23px 70px 29px;

}

.comment_container::-webkit-scrollbar {
    width: 27px;
}

.comment_container::-webkit-scrollbar-thumb {
    background-color: $brownRed;
    border-top: 52px solid rgba(0, 0, 0, 0);
    border-right: 17px solid rgba(0, 0, 0, 0);
    border-bottom: 70px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;

}


@media (max-width: 991px) {
    .container_main {
        img {
            display: block;
            margin: 0 auto 45px;
            max-width: 100%;
            float: none;

        }
    }
}



