.catalog {
    .breadcrumb {
        margin-bottom: 89px;
    }

    .product {
        margin-bottom: 83px;
    }

    .flower {
        max-width: 580px;
    }

    .big-img {
        position: relative;
        padding: 105px 67px;
    }

    .sale {
        position: absolute;
        top: 24px;
        left: 24px;
        width: 98px;
        height: 98px;
        border-radius: 99px;
        border: 1px dashed #E72222;
        font-size: 1.333rem;
    }

    .heart {
        position: absolute;
        top: 44px;
        right: 44px;
        padding: 0;
        border: none;
        background: none transparent;
        opacity: 0.5;
        transition: opacity 0.5s;

        &:hover {
            opacity: 1;
        }
    }

    .card-bckgrnd {
        background: #FBF9FA;

        img {
            display: block;
            margin: auto;
        }
    }

    .little-img {
        margin: 12px 0 0;
        column-gap: 9px;

        .card-bckgrnd {
            background: #FBF9FA;
            height: 100%;
            flex: 1 0 30%;
            padding: 16px 6px;

            &:hover {
                cursor: pointer;
                transform: scale(1.1);
            }
        }
    }

    .description {
        max-width: 731px;

        .tulip-head {
            margin-bottom: 45px;

            a {
                font-size: 0.889rem;
                font-weight: 250;
                color: #BDBDBD;
            }

            img {
                margin-left: 33px;
            }
        }

        h2 {
            font-size: 2rem;
            color: #333333;
            margin-bottom: 39px;
        }

        .rating {
            margin-bottom: 50px;

            p {
                font-size: 0.889rem;
                font-style: normal;
                font-weight: 300;
                color: #828282;
                margin-bottom: 0;
            }

            .star {
                padding-left: 62px;
            }
        }

        .price {
            margin-bottom: 60px;

            h2 {
                color: #956D84;
                margin-bottom: 0;
            }

            h3 {
                margin-left: 29px;
                margin-bottom: -5px;
                font-weight: 300;
                font-size: 1.333rem;
                text-decoration-line: line-through;
                color: #BDBDBD;
            }
        }

        .table {
            margin-bottom: 56px;

            .col-name {
                width: 20%;
                font-size: 0.889rem;
                color: #BDBDBD;
            }

            .col-value {
                font-size: 0.889rem;
                color: #333333;
            }

            .d-flex {
                margin-bottom: 24px;
            }
        }

        .my-counter {
            margin-bottom: 45px;

            button {
                &.button {
                    max-width: 220px;
                    max-height: 63px;
                    padding: 20px 25px;
                }
            }

            .my-counter-quantity {
                margin-right: 34px;
                width: 105px;
                padding: 12px 15px;
                border: 1px solid #956D84;

                input[type=number] {
                    max-width: 2rem;
                    border: none;
                    height: 2rem;
                    font-weight: bold;
                    text-align: center;

                    &::-webkit-outer-spin-button,
                    &::-webkit-inner-spin-button {
                        -webkit-appearance: none;
                        margin: 0;
                    }
                }

                button {
                    background-image: url("../img/main/products/btn-left.svg");
                    background-repeat: no-repeat;
                    background-position: 100% center;
                    background-color: transparent;
                    border: none;
                    flex-shrink: 0;
                    width: 8px;
                    height: 13px;
                    padding: 0;

                    &.plus {
                        background-image: url("../img/main/products/btn-right.svg");
                    }
                }
            }
        }

        .fast {
            margin-bottom: 22px;
            font-size: 0.889rem;
            font-weight: 300;
            color: #828282;
        }

        .phone {
            position: relative;
            width: 321px;
            height: 64px;
            margin-bottom: 48px;

            input {
                font-size: 0.778rem;
                color: #333333;
                display: block;
                width: 100%;
                padding: 19px 35px;
                outline: none;
            }

            label {
                position: absolute;
                top: -10px;
                left: 30px;
                margin-bottom: 0;
                font-size: 0.778rem;
                color: #BDBDBD;
            }

            button {
                &.button {
                    position: absolute;
                    top: 0;
                    left: 100%;
                    padding: 20px 40px;
                    border-radius: 0 7px 7px 0;
                    max-height: 100%;
                    width: 190px;
                }
            }

        }

        .info {
            gap: 66px;
            margin-bottom: 34px;

            p {
                color: #828282;

                &:hover {
                    cursor: pointer;
                }

                img {
                    margin-left: 6px;
                    transform: rotate(90deg);
                }

                &.special {
                    color: #956D84;

                    img {
                        transform: rotate(-90deg);
                    }
                }
            }
        }

        .change-info {
            p {
                font-style: normal;
                font-weight: 250;
                font-size: 0.889rem;
                line-height: 20px;
                color: #828282;

                &.hide {
                    display: none;
                }
            }
        }
    }

    h1 {
        font-size: 2.667rem;
        color: #333333;
        margin-bottom: 106px;
    }

    .else {
        margin-bottom: 117px;
        .basket-slider {

            .my-card-slider {
                .product-card {
                    margin: 0 0;
                }
            }


            .slick-next,
            .slick-prev {
                top: -106px;
                right: 0px;
                left: auto;
                width: 12px;
                height: 21px;
            }

            .slick-next::before {
                content: url("../img/main/basket/arrow-slider-r.svg");

            }

            .slick-prev::before {
                content: url("../img/main/basket/arrow-slider-l.svg");
            }

            .slick-prev {
                right: 43px;
            }

        }
    }

    .you-see {
        margin-bottom: 60px;
        .basket-slider {

            .my-card-slider {
                .product-card {
                    margin: 0 0;
                }
            }


            .slick-next,
            .slick-prev {
                top: -106px;
                right: 0px;
                left: auto;
                width: 12px;
                height: 21px;
            }

            .slick-next::before {
                content: url("../img/main/basket/arrow-slider-r.svg");

            }

            .slick-prev::before {
                content: url("../img/main/basket/arrow-slider-l.svg");
            }

            .slick-prev {
                right: 43px;
            }

        }
    }

    .map {
        margin-bottom: 70px;
    }
}
