 .slick-next:before {
    content: url("../img/main/review/arrow-right-slider.svg");
}
 .slick-prev:before{
     content: url("../img/main/review/arrow-left-slider.svg");
 }

 @media (min-width: 768px) {
     .slick-next {
         right: 0;
     }
     .slick-prev {
         left: 0;
     }


 }
